<div id="show_child">
  <h1> Hi child!</h1>
  <h2 class="head">Choose your name from the list</h2>
  <div id="kids_list">
    <% @children.each do |child| %>
      <li><%= link_to child.name, child_path(child.id) %></li>
    <%end %>
  </div>
</div>
