<div class="home">
  <div class="home_back">
    <p class = "mom"> <%= button_to "I am a mom", moms_path, :class => "button", :method => :get  %></p>
    <p class = "mom"> <%= button_to "I am a child", children_path, :class => "button", :method => :get  %></p>
  </div>
</div>
