// Place all the styles related to the children controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#show_child {
  background-image: image-url('Children.jpg');
  background-size: 1400px;
 background-repeat: no-repeat;
 }
