<!DOCTYPE html>
<html>
<head>
  <title>FamilyRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= link_to "Home page", users_path %>
</head>
<body>

<%= yield %>

<footer>
  <div id="footer">
  Webpage by <%= link_to "Tamar Hershi", "https://github.com/TamarHershi" %>
  <br>
  Copyright &copy; <%= Time.now.year %> All rights reserved.
  </div>
</footer>
</body>
</html>
